<div class="container">
  <h3 mat-dialog-title>{{ data.title }}</h3>

  <form class="mat-dialog-content" (ngSubmit)="onSubmit" #formControl="ngForm">
    
    <div class="form" *ngFor="let option of data.options">
      <mat-form-field color="accent">
        <input matInput class="form-control" 
          [placeholder]="option.placeholder" 
          [(ngModel)]="data.data[option.colKey]" 
          [name]="option.colKey"
          [required]="option.required" [type]="option.type">
        <mat-error *ngIf="formControl.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>

   
    <div mat-dialog-actions>
      <button mat-raised-button [disabled]="!formControl.valid" (click)="onSave()">Save</button>
      <button mat-button mat-dialog-close tabindex="-1">Cancel</button>
    </div>

  </form>

</div>


