/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-indigo, 500);
$accent:  mat-palette($mat-pink, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

html{
    height: 100%;
}

body {
    margin: 0;
    background: #F2F2F2;
    height: 100%; 
}

#container {
   display: grid;
   grid-template-columns: min-content auto;
   height: 100%;

   #content {
       padding: 30px 50px; // top/bottom right/left
   }
}

// custom styling of datatable
.dataTables_filter {
    float: left;
}
.dataTables_length {
    float: right;
}
.dataTables_info {
    float: left;
}
.dataTables_paginate {
    float: right;
}
.dt-button{
    margin-bottom: 8px;   
}