<div *ngIf="employee$">
  <h1>Edit Employee</h1>
  
  <app-employee-form [employee]="employee$" [isAddingMode]="false"></app-employee-form>
  <br>
  <mat-divider></mat-divider>
  <br>
  <h2>
    Salaries (€)
    <button class="btn btn-primary" (click)="onAddSalary()">New salary</button>
  </h2>

  <div *ngIf="employee$.salaries !== undefined">
    <app-datatable [source]="employee$.salaries" 
      [columns]="columns" [colKeys]="colKeys"
      (editEmitter)="onEditSalary($event)" (deleteEmitter)="onDeleteSalary($event)"></app-datatable>
  </div>
  
  <div *ngIf="employee$.salaries === undefined">
    <mat-spinner></mat-spinner>
  </div>
  
</div>
  


